<div #sidenav fxLayout="column" fxLayoutAlign="start" style="margin-left: 25px; margin-right: 25px; margin-top: 88px;"
  class="nav-item">


  <a class="sidenavlinks" routerLink="" *ngIf="!(whichIsActiveRoute('/'))">
    Home
  </a>
  <a class="sidenavlinks-current"  routerLink="" *ngIf="(whichIsActiveRoute('/'))">
    Home
  </a>

  <mat-divider style="color: #1B6EC21A;"></mat-divider>

  <a class="sidenavlinks" routerLink="user_info"
    *ngIf="isAuthenticated()  && !whichIsActiveRoute('/user_info')">
    My Profile
  </a>
  <a class="sidenavlinks-current" routerLink="user_info"
    *ngIf="(isAuthenticated() && whichIsActiveRoute('/user_info'))">
    My Profile
  </a>

  <mat-divider *ngIf="isAuthenticated()" style="color: #1B6EC21A;"></mat-divider>

  <a class="sidenavlinks" href="https://cyberiam.strivacity.com/go/myaccount"
    *ngIf="isAuthenticated()">
    My Account
  </a>

  <mat-divider *ngIf="isAuthenticated()" style="color: #1B6EC21A;"></mat-divider>

  <a class="sidenavlinks" *ngIf="!(isAuthenticated())" (click)="logIn()">
    Login
  </a>

  <a class="sidenavlinks" *ngIf="isAuthenticated()" (click)="logOut()">
    Logout
  </a>
</div>
