
        <!-- <div fxLayout="column" fxLayoutAlign="space-between start" style="width: 100%; background-color: yellow;"> -->
      
          <!-- <app-table-top-content [tableTopContent]="tableTopContent"></app-table-top-content> -->
      
          <!-- <piriba-filter-control [ngStyle]="{ padding: '0 18px 0 0' }" holder="Search Tenants"
            (newSearchEvent)="filter($event)"></piriba-filter-control> -->
      
        <!-- </div> -->
      
        <div class="section">
          <p>Table without the firstname and with the job as first column</p>
          <lib-table [dataSource]="datasource" [columns]="columns"></lib-table>
        </div>
      
