<div fxLayout="column" class="card">

  <mat-card class="shadow">

    <div [ngStyle]="{ padding: '25px' }" fxLayout="column" fxLayoutGap="30px" class="mat-elevation-z0">


      <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">

        <lib-table-top-content [tableTopContent]="tableTopContent"></lib-table-top-content>

        <piriba-filter-control [ngStyle]="{ padding: '0 18px 0 0' }" holder="Search Tenants"
          (newSearchEvent)="filter($event)"></piriba-filter-control>

      </div>

      <div class="table-manipulation">

        <lib-table (nextPageEvent)="getNextPage($event)" (rowClick)="navigateToProperty($event)"
          [tableData]="datasource" [loading]="loading" [columns]="columns" [endpoint]="endpoint"
          [navigation]="navigation" [showViewAction]="view" [sortBy]="sortBy" [rowClickable]="true">
        </lib-table>

      </div>

    </div>

  </mat-card>

</div>
