<b class="att-text1" fxLayoutAlign="center center">Thank you!<br>
</b>


<fa-icon [icon]="['fas', 'user-check']" class="auth-icon" style="color:#03DAC5;">
</fa-icon>

<p class="att-text2">
  You have successfully<br fxShow.gt-sm="false">
  authenticated your account.
</p>

<p class="att-text3">You can now start using<br fxShow.gt-sm="false">
  your application.
</p>

<button class="btn btn-profile" routerLink='/user_info' ngStyle.gt-sm="width: 160px">
  View My Profile
</button>
